.cabecalho {
  padding-top: 1.5rem;
}
.cabecalho > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c75eeb;
  padding-bottom: 1.75rem;
}
@media screen and (min-width: 768px) {
  .cabecalho > .container {
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .cabecalho > .container {
    justify-content: space-between;
    gap: 0;
  }
}
.cabecalho > .container .cabecalho__nav {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media screen and (min-width: 1024px) {
  .cabecalho > .container .cabecalho__nav {
    gap: 32px;
  }
}
.cabecalho > .container .cabecalho__nav .nav__links {
  display: none;
}
@media screen and (min-width: 768px) {
  .cabecalho > .container .cabecalho__nav .nav__links {
    display: inline-block;
  }
}
.cabecalho > .container .cabecalho__nav .nav__links .links__lista {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 1200px) {
  .cabecalho > .container .cabecalho__nav .nav__links .links__lista .lista__item:nth-child(6) {
    display: none;
  }
}
.cabecalho > .container .cabecalho__nav .nav__links .links__lista .lista__item:nth-child(7) {
  display: none;
}
@media screen and (min-width: 1200px) {
  .cabecalho > .container .cabecalho__nav .nav__links .links__lista .lista__item:nth-child(7) {
    display: inline;
  }
}
.cabecalho > .container .cabecalho__nav .nav__links .links__lista .lista__item .nav__link {
  color: #6e859f;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .cabecalho > .container .cabecalho__nav .nav__links .links__lista .lista__item .nav__link {
    font-family: "Inter", sans-serif;
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 500;
    line-height: normal;
  }
}
.cabecalho > .container .cabecalho__nav .nav__acoes {
  display: flex;
  gap: 16px;
}
.cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--conhecer {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f6543b 0%, #c75eeb 100%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  padding: 0.875rem 0;
  width: 147px;
}
@media screen and (min-width: 1024px) {
  .cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--conhecer {
    width: 165px;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 600;
    line-height: normal;
  }
}
@media screen and (min-width: 1200px) {
  .cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--conhecer {
    width: 180px;
  }
}
.cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f6543b 0%, #c75eeb 100%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  background: transparent;
  color: #c75eeb;
  border: 1px solid #c75eeb;
  display: none;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 1200px) {
  .cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--entrar {
    display: flex;
    width: 112px;
  }
}

.banner {
  background-image: url("/assets/banner/detalhes-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner > .container {
  display: flex;
  justify-content: center;
  padding: 7% 1.5rem;
}
.banner > .container .banner__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .banner > .container .banner__texto {
    text-align: start;
  }
}
.banner > .container .banner__texto .banner__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.75rem, 2.5vw, 2rem);
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .banner > .container .banner__texto .banner__titulo {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(2.25rem, 4vw, 3.75rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
.banner > .container .banner__texto .banner__titulo > span {
  color: #c75eeb;
}
.banner > .container .banner__texto .banner__descricao {
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 500;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .banner > .container .banner__texto .banner__descricao {
    font-family: "Inter", sans-serif;
    font-size: clamp(1.25rem, 1vw, 1.25rem);
    font-weight: 400;
    line-height: 1.4;
  }
}
.banner > .container .banner__texto .banner__acao {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f6543b 0%, #c75eeb 100%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 1200px) {
  .banner > .container .banner__texto .banner__acao {
    align-self: flex-start;
  }
}
.banner > .container .banner__img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .banner > .container .banner__img {
    display: block;
  }
}

.quem-somos--educacao-basica {
  margin-top: 3.75rem;
}
.quem-somos--educacao-basica > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .quem-somos--educacao-basica > .container {
    gap: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .quem-somos--educacao-basica > .container {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.quem-somos--educacao-basica > .container > .quem-somos__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .quem-somos--educacao-basica > .container > .quem-somos__texto {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .quem-somos--educacao-basica > .container > .quem-somos__texto {
    max-width: 32rem;
  }
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > h2, .quem-somos--educacao-basica > .container > .quem-somos__texto p[class*=quem-somos] {
  margin-bottom: 2rem;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > span {
  margin-bottom: 0.5rem;
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__titulo {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(1.75rem, 2.5vw, 2rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  .quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__titulo {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(2.25rem, 4vw, 3.75rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__titulo > span {
  color: #c75eeb;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__descricao > span {
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 700;
  line-height: normal;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__acao {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f6543b 0%, #c75eeb 100%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__acao {
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__acao {
    align-self: flex-start;
  }
}

.quem-somos--programacao {
  margin-top: 3.75rem;
}
.quem-somos--programacao > .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .quem-somos--programacao > .container {
    gap: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .quem-somos--programacao > .container {
    gap: 60px;
  }
}
.quem-somos--programacao > .container > .quem-somos__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.quem-somos--programacao > .container > .quem-somos__texto > span {
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
}
.quem-somos--programacao > .container > .quem-somos__texto > .quem-somos__titulo {
  color: #284260;
  max-width: 40rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .quem-somos--programacao > .container > .quem-somos__texto > .quem-somos__titulo {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(1.75rem, 2.5vw, 2rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  .quem-somos--programacao > .container > .quem-somos__texto > .quem-somos__titulo {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(2.25rem, 4vw, 3.75rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
.quem-somos--programacao > .container > .quem-somos__texto > .quem-somos__titulo > span {
  color: #c75eeb;
}
.quem-somos--programacao > .container .quem-somos__lista {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
}
@media screen and (min-width: 768px) {
  .quem-somos--programacao > .container .quem-somos__lista {
    justify-content: center;
  }
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .quem-somos--programacao > .container .quem-somos__lista .lista__item {
    max-width: 20rem;
  }
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item .lista__item__icon {
  width: 48px;
  height: 48px;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item .lista__item__texto {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item .lista__item__texto .lista__item__titulo {
  font-family: "Chakra Petch", sans-serif;
  font-size: clamp(1.25rem, 1vw, 1.25rem);
  font-weight: 700;
  line-height: normal;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item:nth-child(1) > .lista__item__texto > .lista__item__titulo {
  color: #f6543b;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item:nth-child(2) > .lista__item__texto > .lista__item__titulo {
  color: #4ebfe9;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item:nth-child(3) > .lista__item__texto > .lista__item__titulo {
  color: #61e061;
}

.sobre-nos {
  margin-top: 3.75rem;
}
.sobre-nos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sobre-nos .container .sobre-nos__texto {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.sobre-nos .container .sobre-nos__texto > span {
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
}
.sobre-nos .container .sobre-nos__texto .sobre-nos__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .sobre-nos .container .sobre-nos__texto .sobre-nos__titulo {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(1.75rem, 2.5vw, 2rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  .sobre-nos .container .sobre-nos__texto .sobre-nos__titulo {
    max-width: 32rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(2.25rem, 4vw, 3.75rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
.sobre-nos .container .sobre-nos__texto .sobre-nos__titulo > span {
  color: #c75eeb;
}
.sobre-nos .container .sobre-nos__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.sobre-nos .container .sobre-nos__lista .lista__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #f4f7ff;
  border-radius: 10px;
  padding: 1.25rem 0 0.625rem 0;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .sobre-nos .container .sobre-nos__lista .lista__item {
    width: 320px;
  }
}
.sobre-nos .container .sobre-nos__lista .lista__item > span {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .sobre-nos .container .sobre-nos__lista .lista__item > span {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: clamp(1.75rem, 2.5vw, 2rem);
    font-weight: 700;
    line-height: 1.2;
  }
}
.sobre-nos .container .sobre-nos__lista .lista__item:nth-child(1) > span {
  color: #4ebfe9;
}
.sobre-nos .container .sobre-nos__lista .lista__item:nth-child(2) > span {
  color: #c75eeb;
}
.sobre-nos .container .sobre-nos__lista .lista__item:nth-child(3) > span {
  color: #61e061;
}
@media screen and (min-width: 768px) {
  .sobre-nos .container .sobre-nos__lista .lista__item .lista__item__icon {
    width: 46px;
    height: 46px;
  }
}
@media screen and (min-width: 768px) {
  .sobre-nos .container .sobre-nos__lista .lista__item .lista__item__descricao {
    font-family: "Inter", sans-serif;
    font-size: clamp(1.25rem, 1vw, 1.25rem);
    font-weight: 500;
    line-height: normal;
  }
}

.metodologia {
  margin-top: 3.75rem;
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #ffffff 0%, #e7edf5 100%);
}
.metodologia .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.metodologia .container > span {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
}
.metodologia .container .metodologia__texto {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-bottom: 2.5rem;
}
.metodologia .container .metodologia__texto .metodologia__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: 1.2;
}
.metodologia .container .metodologia__texto .metodologia__titulo > span {
  color: #61e061;
}
.metodologia .container .metodologia__acao {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f6543b 0%, #c75eeb 100%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  background: transparent;
  color: #c75eeb;
  border: 1px solid #c75eeb;
  padding: 0.875rem 3.55rem;
  margin-top: 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 600;
  line-height: 1.2;
}

.projetos {
  margin: 3.75rem 0;
}
.projetos > .container .projetos__texto {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.projetos > .container .projetos__texto > span {
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
}
.projetos > .container .projetos__texto .projetos__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: 1.2;
}
.projetos > .container .projetos__texto .projetos__titulo > span {
  color: #c75eeb;
}
.projetos .swiper {
  position: relative;
  padding-inline: 1.5rem;
  padding-bottom: 1.8rem;
  margin: 2rem 0 3rem 0;
}
.projetos .swiper .swiper-wrapper .swiper-slide {
  width: 300px;
}
.projetos .swiper .swiper-wrapper .swiper-slide .projeto {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #4ebfe9;
  border-radius: 10px;
  padding: 1rem;
}
.projetos .swiper .swiper-wrapper .swiper-slide .projeto .projeto__texto .projeto__titulo {
  margin-bottom: 3px;
  color: #284260;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}
.projetos .swiper .swiper-wrapper .swiper-slide .projeto .projeto__texto .projeto__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projetos .swiper .swiper-wrapper .swiper-slide .projeto .projeto__texto .projeto__info .info__acao {
  color: #c75eeb;
}
.projetos .swiper .swiper-wrapper .swiper-slide .projeto .projeto__texto .projeto__info > span {
  background-color: #f4f7ff;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 600;
  line-height: normal;
}
.projetos .swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
}
.projetos .swiper .swiper-pagination .swiper-pagination-bullet {
  background: #4ebfe9;
}
.projetos .swiper .swiper-button-prev,
.projetos .swiper .swiper-button-next,
.projetos .swiper .swiper-scrollbar {
  display: none;
}
.projetos .container__acao {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.projetos .container__acao .projetos__acao {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f6543b 0%, #c75eeb 100%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}

.orcamento {
  padding: 3rem 0 1.25rem 0;
  background-image: url("/assets/orcamento/orcamento-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -30%;
}
.orcamento .container .orcamento__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}
.orcamento .container .orcamento__texto > span {
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
  color: #fac900;
}
.orcamento .container .orcamento__texto .orcamento__titulo {
  color: #f4f7ff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: 1.2;
}
.orcamento .container .orcamento__texto .orcamento__titulo > span {
  color: #ffc7f3;
}
.orcamento .orcamento__container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 2rem;
}
.orcamento .orcamento__container .form__titulo {
  margin-bottom: 1rem;
  text-align: center;
  color: #f6543b;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: 1.2;
}
.orcamento .orcamento__container .orcamento__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.orcamento .orcamento__container .orcamento__form .form__campo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.orcamento .orcamento__container .orcamento__form .form__campo > label {
  color: #284260;
}
.orcamento .orcamento__container .orcamento__form .form__campo > input {
  background-color: #f4f7ff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 0 0.75rem 0.75rem;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 400;
  line-height: normal;
}
.orcamento .orcamento__container .orcamento__form .form__campo > input::placeholder {
  color: #6e859f;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 500;
  line-height: normal;
}
.orcamento .orcamento__container .orcamento__form .form__campo > input:focus {
  outline: 2px solid #000000;
}
.orcamento .orcamento__container .orcamento__form .form__campo:nth-child(4) {
  position: relative;
}
.orcamento .orcamento__container .orcamento__form .form__campo:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 92%;
  background-image: url("/assets/orcamento/Slider.png");
  background-repeat: no-repeat;
  transform: translateY(95%) rotate(0deg);
  transition: transform 0.3s ease;
}
.orcamento .orcamento__container .orcamento__form .form__campo:nth-child(4):focus-within::after {
  transform: translateY(95%) rotate(180deg);
}
.orcamento .orcamento__container .orcamento__form .form__campo:nth-child(4) .campo__cargo {
  background-color: #f4f7ff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 0 0.75rem 0.75rem;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 400;
  line-height: normal;
}
.orcamento .orcamento__container .orcamento__form .form__campo:nth-child(4) .campo__cargo::placeholder {
  color: #6e859f;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 500;
  line-height: normal;
}
.orcamento .orcamento__container .orcamento__form .form__campo:nth-child(4) .campo__cargo:focus {
  outline: 2px solid #000000;
}
.orcamento .orcamento__container .orcamento__form .form__campo:nth-child(4) .campo__cargo {
  color: #284260;
  appearance: none;
}
.orcamento .orcamento__container .orcamento__form .form__campo .campo__necessidades {
  background-color: #f4f7ff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 0 0.75rem 0.75rem;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 400;
  line-height: normal;
}
.orcamento .orcamento__container .orcamento__form .form__campo .campo__necessidades::placeholder {
  color: #6e859f;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 500;
  line-height: normal;
}
.orcamento .orcamento__container .orcamento__form .form__campo .campo__necessidades:focus {
  outline: 2px solid #000000;
}
.orcamento .orcamento__container .orcamento__form .form__botao {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f6543b 0%, #c75eeb 100%);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  align-self: center;
  width: 280px;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}

.rodape {
  margin: 2rem 0;
}
.rodape .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.rodape .container .rodape__logo {
  width: 140px;
}
.rodape .container .rodape__texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rodape .container .rodape__texto .rodape__info > p {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 400;
  line-height: normal;
}
.rodape .container .rodape__links > .links__lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
}
.rodape .container .rodape__links > .links__lista .lista__item:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}
.rodape .container .rodape__links > .links__lista .lista__item .nav__link {
  color: #384652;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 400;
  line-height: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #6e859f;
  line-height: normal;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 400;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 75rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

/*# sourceMappingURL=style.css.map */
