.cabecalho {
  padding-top: 1.5rem;
}
.cabecalho > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c75eeb;
  padding-bottom: 1.75rem;
}
@media screen and (min-width: 768px) {
  .cabecalho > .container {
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .cabecalho > .container {
    justify-content: space-between;
    gap: 0;
  }
}
.cabecalho > .container .cabecalho__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.cabecalho > .container .cabecalho__nav .nav__links {
  display: none;
}
@media screen and (min-width: 768px) {
  .cabecalho > .container .cabecalho__nav .nav__links {
    display: block;
  }
}
.cabecalho > .container .cabecalho__nav .nav__links .links__lista {
  display: flex;
  align-items: center;
  gap: 24px;
}
.cabecalho > .container .cabecalho__nav .nav__links .links__lista .nav__link {
  color: #6e859f;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 500;
  line-height: normal;
}
.cabecalho > .container .cabecalho__nav .nav__acoes {
  display: flex;
  gap: 16px;
}
.cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--conhecer, .cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--entrar {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #f6543b, #c75eeb);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  padding: 0.875rem 0;
  width: 147px;
}
.cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--entrar {
  display: none;
  background: transparent;
  color: #c75eeb;
  border: 1px solid #c75eeb;
}
@media screen and (min-width: 1200px) {
  .cabecalho > .container .cabecalho__nav .nav__acoes .acoes__link--entrar {
    display: block;
  }
}

.banner {
  background-image: url("/assets/banner/detalhes-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner > .container {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 7% 1.5rem;
}
.banner > .container .banner__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}
.banner > .container .banner__texto .banner__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.75rem, 2.5vw, 2rem);
  font-weight: 700;
  line-height: 1.2;
}
.banner > .container .banner__texto .banner__titulo > span {
  color: #c75eeb;
}
.banner > .container .banner__texto .banner__descricao {
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 500;
  line-height: 1.4;
}
.banner > .container .banner__texto .banner__acao {
  background: linear-gradient(90deg, #f6543b, #c75eeb);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}
.banner > .container .banner__img {
  display: none;
}

.quem-somos--educacao-basica {
  margin-top: 3.75rem;
}
.quem-somos--educacao-basica > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quem-somos--educacao-basica > .container > span {
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 700;
  line-height: 1.2;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__titulo > span {
  color: #c75eeb;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__descricao > span {
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 700;
  line-height: normal;
}
.quem-somos--educacao-basica > .container > .quem-somos__texto > .quem-somos__acao {
  background: linear-gradient(90deg, #f6543b, #c75eeb);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 200px;
  padding: 1rem;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 600;
  line-height: normal;
}

.quem-somos--programacao {
  margin-top: 3.75rem;
}
.quem-somos--programacao > .container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.quem-somos--programacao > .container > .quem-somos__texto {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.quem-somos--programacao > .container > .quem-somos__texto > span {
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
}
.quem-somos--programacao > .container > .quem-somos__texto > .quem-somos__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: 1.2;
}
.quem-somos--programacao > .container > .quem-somos__texto > .quem-somos__titulo > span {
  color: #c75eeb;
}
.quem-somos--programacao > .container .quem-somos__lista {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item .lista__item__icon {
  width: 48px;
  height: 48px;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item .lista__item__texto {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item .lista__item__texto .lista__item__titulo {
  font-family: "Chakra Petch", sans-serif;
  font-size: clamp(1.25rem, 1vw, 1.25rem);
  font-weight: 700;
  line-height: normal;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item:nth-child(1) > .lista__item__texto > .lista__item__titulo {
  color: #f6543b;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item:nth-child(2) > .lista__item__texto > .lista__item__titulo {
  color: #4ebfe9;
}
.quem-somos--programacao > .container .quem-somos__lista .lista__item:nth-child(3) > .lista__item__texto > .lista__item__titulo {
  color: #61e061;
}

.sobre-nos {
  margin-top: 3.75rem;
}
.sobre-nos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sobre-nos .container .sobre-nos__texto {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.sobre-nos .container .sobre-nos__texto > span {
  color: #4ebfe9;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 700;
  line-height: normal;
}
.sobre-nos .container .sobre-nos__texto .sobre-nos__titulo {
  color: #284260;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: 1.2;
}
.sobre-nos .container .sobre-nos__texto .sobre-nos__titulo > span {
  color: #c75eeb;
}
.sobre-nos .container .sobre-nos__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.sobre-nos .container .sobre-nos__lista .lista__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #f4f7ff;
  border-radius: 10px;
  padding: 1.25rem 0 0.625rem 0;
  width: 300px;
}
.sobre-nos .container .sobre-nos__lista .lista__item > span {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: clamp(1.45rem, 2vw, 1.625rem);
  font-weight: 600;
  line-height: normal;
}
.sobre-nos .container .sobre-nos__lista .lista__item:nth-child(1) > span {
  color: #4ebfe9;
}
.sobre-nos .container .sobre-nos__lista .lista__item:nth-child(2) > span {
  color: #c75eeb;
}
.sobre-nos .container .sobre-nos__lista .lista__item:nth-child(3) > span {
  color: #61e061;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #6e859f;
  line-height: normal;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  font-weight: 400;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 75rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

/*# sourceMappingURL=style.css.map */
