@use "sass:map";
@use "./variables" as v;
@use "./functions" as f;

@mixin font-config($family, $size, $weight: regular, $line-height: auto) {
    font-family: f.font-family($family);
    font-size: f.fluid-font-size($family, $size);
    font-weight: f.font-weight($weight);
    line-height: f.line-height($line-height);
}

@mixin responsive($size, $type: "min") {
    @media screen and (#{$type}-width: f.breakpoint($size)) {
        @content
    };
}

@mixin botao-acao-gradiente {
    display: flex;
    justify-content: center;
    align-items: center;
    background: f.get-gradient(gradiente-vermelho-roxo);
    color: f.get-color(branco);
    text-transform: uppercase;
    text-align: center;
    border-radius: 200px;
    padding: 1rem;
    width: 300px;
}

@mixin botao-acao-transparent {
    @include botao-acao-gradiente;
    background: transparent;
    color: f.get-color(roxo);
    border: 1px solid f.get-color(roxo);
}

@mixin section__subtitle {
    color: f.get-color(azul);
    @include font-config(baijamjuree, h5, bold);
}

@mixin campo--input {
    background-color: f.get-color(azul-baby);
    border: none;
    border-radius: 4px;
    padding: 0.75rem 0 0.75rem 0.75rem;
    color: f.get-color(preto);
    @include font-config(inter, paragraph);

    &::placeholder {
        color: f.get-color(cinza);
        @include font-config(inter, paragraph-small, medium);
    }

    &:focus {
        outline: 2px solid f.get-color(preto);
    }
}