@use "../abstracts/index" as *;

.banner {
    background-image: url("/assets/banner/detalhes-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    > .container {
        display: flex;
        justify-content: center;
        padding: 7% 1.5rem;

        .banner__texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            text-align: center;
            @include responsive(desktop) {
                text-align: start;
            }

            .banner__titulo {
                color: get-color(azul-escuro);
                @include font-config(baijamjuree, h2, bold, thight);
                @include responsive(tablet) {
                    @include font-config(baijamjuree, h1, bold, thight);
                }

                > span {
                    color: get-color(roxo);
                }
            }

            .banner__descricao {
                @include font-config(inter, paragraph-large, medium, default);
                @include responsive(tablet) {
                    @include font-config(inter, paragraph-max, regular, default);
                }
            }

            .banner__acao {
                @include botao-acao-gradiente;
                @include font-config(inter, paragraph-large, semibold);
                @include responsive(desktop) {
                    align-self: flex-start;
                }
            }
        }

        .banner__img {
            display: none;
            @include responsive(desktop) {
                display: block;
            }
        }
    }
}