@use "../abstracts/index" as *;

.orcamento {
    padding: 3rem 0 1.25rem 0;
    background-image: url("/assets/orcamento/orcamento-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -30%;

    .container {
        .orcamento__texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            text-align: center;

            > span {
                @include section__subtitle;
                color: get-color(amarelo);
            }

            .orcamento__titulo {
                color: get-color(azul-baby);
                @include font-config(baijamjuree, h3, semibold, thight);

                > span {
                    color: get-color(rosa-baby);
                }
            }
        }
    }

    .orcamento__container {
        background-color: get-color(branco);
        border-radius: 12px;
        padding: 1rem;
        margin-top: 2rem;

        .form__titulo {
            margin-bottom: 1rem;
            text-align: center;
            color: get-color(vermelho);
            @include font-config(baijamjuree, h5, bold, thight);
        }

        .orcamento__form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .form__campo {
                display: flex;
                flex-direction: column;
                gap: 6px;

                > label {
                    color: get-color(azul-escuro);
                    //@include font-config(inter, paragraph);
                }

                > input {
                    @include campo--input;
                }

                &:nth-child(4) {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        top: 50%;
                        left: 92%;
                        background-image: url("/assets/orcamento/Slider.png");
                        background-repeat: no-repeat;
                        transform: translateY(95%) rotate(0deg);
                        transition: transform 0.3s ease;
                    }

                    &:focus-within::after {
                        transform: translateY(95%) rotate(180deg);
                    }

                    .campo__cargo {
                        @include campo--input;
                        color: get-color(azul-escuro);
                        appearance: none;
                    }
                }

                .campo__necessidades {
                    @include campo--input;
                }
            }

            .form__botao {
                @include botao-acao-gradiente;
                align-self: center;
                width: 280px;
                border: none;
                cursor: pointer;
                @include font-config(inter, paragraph-large, semibold);
            }
        }
    }
}