@use "../abstracts/index" as *;

.quem-somos--educacao-basica {
    margin-top: 3.75rem;

    > .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        > span {
            @include section__subtitle;
            align-self: flex-start;
            margin-bottom: 0.5rem;
        }

        > .quem-somos__texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;

            > .quem-somos__titulo {
                color: get-color(azul-escuro);
                @include font-config(baijamjuree, h3, bold, thight);

                > span {
                    color: get-color(roxo);
                }
            }

            > .quem-somos__descricao > span {
                @include font-config(inter, paragraph-large, bold);
            }

            > .quem-somos__acao {
                @include botao-acao-gradiente;
                @include font-config(inter, paragraph-large, semibold);
            }
        }
    }
}