@use "../abstracts/index" as *;

.quem-somos--programacao {
    margin-top: 3.75rem;

    > .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include responsive(tablet) {
            gap: 48px;
        }
        @include responsive(desktop) {
            gap: 60px;
        }

        > .quem-somos__texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            text-align: center;

            > span {
                @include section__subtitle;
            }

            > .quem-somos__titulo {
                color: get-color(azul-escuro);
                max-width: get-txtcontainer(big-large);
                @include font-config(baijamjuree, h3, semibold, thight);
                @include responsive(tablet) {
                    @include font-config(baijamjuree, h2, bold, thight);
                }
                @include responsive(laptop) {
                    @include font-config(baijamjuree, h1, bold, thight);
                }

                > span {
                    color: get-color(roxo);
                }
            }
        }

        .quem-somos__lista {
            display: flex;
            flex-wrap: wrap;
            gap: 52px;
            @include responsive(tablet) {
                justify-content: center;
            }

            .lista__item {
                display: flex;
                flex-direction: column;
                gap: 24px;
                @include responsive(tablet) {
                    max-width: get-txtcontainer(small);
                }

                .lista__item__icon {
                    width: 48px;
                    height: 48px;
                }

                .lista__item__texto {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .lista__item__titulo {
                        @include font-config(chakrapetch, default, bold);
                    }
                }

                &:nth-child(1) > .lista__item__texto > .lista__item__titulo {
                    color: get-color(vermelho);
                }

                &:nth-child(2) > .lista__item__texto > .lista__item__titulo {
                    color: get-color(azul);
                }

                &:nth-child(3) > .lista__item__texto > .lista__item__titulo {
                    color: get-color(verde);
                }
            }
        }
    }
}