@use "../abstracts/index" as *;

.sobre-nos {
    margin-top: 3.75rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .sobre-nos__texto {
            display: flex;
            flex-direction: column;
            gap: 8px;
            text-align: center;

            > span {
                @include section__subtitle;
            }

            .sobre-nos__titulo {
                color: get-color(azul-escuro);
                @include font-config(baijamjuree, h3, semibold, thight);
                @include responsive(tablet) {
                    @include font-config(baijamjuree, h2, bold, thight);
                }
                @include responsive(laptop) {
                    max-width: get-txtcontainer(large);
                    @include font-config(baijamjuree, h1, bold, thight);
                }

                > span {
                    color: get-color(roxo);
                }
            }
        }

        .sobre-nos__lista {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            .lista__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
                background-color: get-color(azul-baby);
                border-radius: 10px;
                padding: 1.25rem 0 0.625rem 0;
                width: 300px;
                @include responsive(tablet) {
                    width: 320px;
                }

                > span {
                    @include font-config(baijamjuree, h3, semibold);
                    @include responsive(tablet) {
                        @include font-config(baijamjuree, h2, bold, thight);
                    }
                }

                &:nth-child(1) > span {
                    color: get-color(azul);
                }

                &:nth-child(2) > span {
                    color: get-color(roxo);
                }

                &:nth-child(3) > span {
                    color: get-color(verde);
                }

                .lista__item__icon {
                    @include responsive(tablet) {
                        width: 46px;
                        height: 46px;
                    }
                }

                .lista__item__descricao {
                    @include responsive(tablet) {
                        @include font-config(inter, paragraph-max, medium);
                    }
                }
            }
        }
    }
}