@use "../abstracts/index" as *;

.cabecalho {
    padding-top: 1.5rem;

    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid get-color(roxo);
        padding-bottom: 1.75rem;
        @include responsive(tablet) {
            justify-content: center;
            gap: 32px;
        }
        @include responsive(laptop) {
            justify-content: space-between;
            gap: 0;
        }

        .cabecalho__nav {
            display: flex;
            align-items: center;
            gap: 32px;

            .nav__links {
                display: none;
                @include responsive(tablet) {
                    display: inline-block;
                }

                .links__lista {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    .lista__item {
                        &:nth-child(1) {
                            display: none;
                            @include responsive(desktop) {
                                display: inline;
                            }
                        }

                        &:nth-child(2) {
                            @include responsive(desktop) {
                                display: none;
                            }
                        }

                        &:nth-child(7) {
                            @include responsive(desktop) {
                                display: none;
                            }
                        }

                        &:nth-child(8) {
                            display: none;
                            @include responsive(desktop) {
                                display: inline;
                            }
                        }

                        .nav__link {
                            color: get-color(cinza);
                            @include font-config(inter, paragraph-small, medium);
                            @include responsive(laptop) {
                                @include font-config(inter, paragraph, medium);
                            }
                        }
                    }
                }
            }
            
            .nav__acoes {
                display: flex;
                gap: 16px;

                .acoes__link--conhecer {
                    @include font-config(inter, paragraph-small, semibold);
                    @include botao-acao-gradiente;
                    padding: 0.875rem 0;
                    width: 147px;
                    @include responsive(laptop) {
                        width: 165px;
                        @include font-config(inter, paragraph, semibold);
                    }
                    @include responsive(desktop) {
                        width: 180px;
                    }
                }

                .acoes__link--entrar {
                    @include botao-acao-transparent;
                    display: none;
                    @include font-config(inter, paragraph, semibold);
                    @include responsive(desktop) {
                        display: flex;
                        width: 112px;
                    }
                }
            }
        }
    }
}