//abstracts
@use "./abstracts/index" as *;

//cabecalho
@use "./principal/header";

//sections
@use "./sections/banner";
@use "./sections/quem-somos--educacao-basica";
@use "./sections/quem-somos--programacao";
@use "./sections/sobre-nos";
@use "./sections/metodologia";
@use "./sections/projetos";
@use "./sections/orcamento";

//rodape
@use "./principal/footer";

//--------------------------------------------------------------------------------------------------------------

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: get-color(branco);
    color: get-color(cinza);
    line-height: normal;
    width: 100%;
    min-height: 100vh;
    @include font-config(inter, paragraph-large, regular, auto);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 75rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
}